div.container {
  display: flex;
  justify-content: center;
}

div.search-results {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  align-items: center;
  width: 100%;
  margin-top: var(--space-3);
}

div.loading {
  animation: fade_in 0.1s forwards;
}

div.no-results {
  animation: fade_in 0.1s forwards;
  color: var(--color-fg-muted);
}

ul.bulleted-list {
  list-style-type: disc;
  padding-left: 35px;
}
