div.header-layout {
  display: grid;
  grid-template-rows: var(--topbar-height) 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: var(--color-canvas-default);
}

div.content {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-5);
  padding-bottom: var(--space-4);
  background-color: transparent;
}

div.username {
  font-weight: var(--fw-semibold);
  color: var(--color-fg-default);
  margin-right: var(--space-4);
  display: flex;
  align-items: center;
}

.header-button-container {
  display: flex;
  gap: var(--space-3);
}

.login {
  margin: var(--space-3);
}
