.standings {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.division-name {
    display: inline-block;
    min-width: 250px;
    font-size: 20px;
    font-weight: 800;
    color: black;
    /* border-bottom: 1px solid rgba(163, 187, 211, 1); */
}
/* 
.standings-year {
    width: 100px;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    background-color: rgba(255, 255, 255, 0.5);

    background: rgba(205, 218, 240, 0.3);
    border: 1px solid white;
    font-weight: 600;
} 
*/

/* select.standings-year {
    width: 75px;
    padding-left: 10px;
    border: 1px solid rgba(163, 187, 211, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
} */

select.standings-year {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(163, 187, 211, 0.2);
    padding-left: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
}
select.standings-year:focus {
    outline: none;
}

div.division {
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* background-color: rgba(0, 0, 0, 0.05); */
    /* border: 2px solid rgba(163, 187, 211, 0.5); */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* gap: 10px; */
    animation: fade_in 0.15s ease-out forwards;
}

div.team {
    width: 100%;
    padding: 5px;
    /* border-radius: 10px; */
}

div.name-record {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

div.points {
    display: flex;
    gap: 10px;
}

div.name-rank {
    display: flex;
    align-items: center;
    gap: 10px;
}

span.rank {
    color: rgb(114, 114, 114);
}