div.sub-status-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

span.sub-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

span.active-sub {
    background-color: rgb(78, 156, 92);
}

span.free-trial {
    background-color: rgb(255, 199, 29);
}

span.inactive-sub {
    /* background-color: rgb(255, 80, 80); */
    background-color: rgb(115, 115, 115);
}
div.subscribe-button-container {
    display: flex;
    justify-content: center;
}
div.subscribe-button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(163, 187, 211, 0.2);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    border-radius: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

div.subscribe-button:hover {
    background-color: rgba(240, 240, 240, 0.5)
}

div.text-gap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.sleeper-leagues {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span.error {
    color: rgb(105, 0, 0);
}