div.log-container {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

div.transaction {
    background-color: rgba(255, 255, 255, 0.2);
    /* border: 2px solid rgba(150, 150, 150, 0.1); */
    border: 2px solid rgba(163, 187, 211, 0.2);
    border-radius: 10px;
    padding: 10px;
    animation: fade_in 0.15s ease-out forwards;
}

div.txns {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 100%;
}

div.date {
    font-size: 12px;
    padding-left: 10px;
}

span.player-name {
    font-weight: 600;
}

/* div.txn-type {
    font-weight: 600;
    font-size: 16px;
} */

div.txn-message {
    font-size: 16px;
    padding-left: 10px;
}

div.txn-type {
    /* border: 1px solid black; */
    font-weight: 600;
    color: black;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: rgba(163, 187, 211, 0.2);
    border-radius: 16px;
    /* width: 50px; */
}
.scroll-gap {
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

div.white-button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(163, 187, 211, 0.2);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-weight: 600;
    border-radius: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

div.white-button:hover {
    background-color: rgba(240, 240, 240, 0.5)
}